.footer__icons {
    display: flex;
    svg {
        color: #fff;
        width: 30px !important;
        height: 30px !important;
        margin: 0 1.5rem;
    }
}

.footer__contact {
    width: 60%;
    margin: 0 auto;
    &--container {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @media (max-width: 900px) {
        width: 90%;
        &--container {
            display: grid;
            grid-template-columns: repeat(1, minmax(0, 1fr));
            & > * {
                margin-bottom: 8px;
            }
        }
    }
}
